body{
    height: 100vh;
    display: grid;
    margin: 0px;
    padding: 0px;    
}
.mainMenu{
    height: 90;
    background: tomato;
    align-self: center;
}
ul{
    list-style: none; /*убираем маркеры списка*/    
    display: -webkit-flex; 
    display: flex; /*отображает контейнер как блочный элемент*/
    justify-content: space-between; /*Flex-элементы выравниваются по главной оси, свободное место между ними распределяется следующим образом: первый блок располагается в начале flex-контейнера, последний блок – в конце, все остальные блоки равномерно распределены в оставшемся пространстве, а свободное пространство равномерно распределяется между элементами.*/
}
a{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
.goods{    
    display: -webkit-flex; 
    display: flex; /*отображает контейнер как блочный элемент*/
    justify-content: space-between; /*Flex-элементы выравниваются по главной оси, свободное место между ними распределяется следующим образом: первый блок располагается в начале flex-контейнера, последний блок – в конце, все остальные блоки равномерно распределены в оставшемся пространстве, а свободное пространство равномерно распределяется между элементами.*/
}
